* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    height: 50px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img{
    width: 40px;
    margin-left: 5px;
}

header h1{
    color: white;
    text-shadow: 1px 1px black;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 3rem;
    padding-top: 5px;
    margin-left: 5px;
}

header a{
    text-decoration: none;
}

#btnlogout{
    margin-right: 5px;
    font-size: 1.25rem;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #fff;
    padding: 5px;
    font-weight: bold;
}

#btnlogout:hover{
    box-shadow:  2px 2px 5px #838383,
                -2px -2px 5px #777676;
}

main{
    border: 1px solid black;
    width: 800px;
    height: 800px;
    line-height: 100px;
    font-size: 1.25rem;   
    margin-top: 15px;
    border-radius: 20px;
    background-color:lightgray;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-column: 1 / span 2;
    border: 1px solid black;
}

.itens {
    display: grid;
    grid-column: 1;
    grid-template-columns: 3fr 1fr;
    flex-direction: column;
    line-height: 1rem;
    width: 100%;
    border: 1px solid rgb(126, 124, 124);
    padding: 5px;  
    margin-bottom: 10px; 
}

.item1{
    grid-row: 2;
}

.itens input{
    line-height: 0.5rem;
    width: 100%;
    text-align: center;
    height: 1.1rem;
}

.itens label{
    /* border: 1px solid black; */
    height: 30px;
    font-size: 1rem;
}

.item3 {
    grid-column: 2;
}